[submodule "v2raytrafficget"]
	path = v2raytrafficget
	url = git@github.com:jinjin123/v2raytrafficget.git

[submodule "selenium/v2raytrafficget"]
	path = selenium/v2raytrafficget
	url = git@github.com:jinjin123/v2raytrafficget.git

[submodule "Dockerfile/dockerfile/postgres"]
	path = Dockerfile/dockerfile/postgres
	url = https://github.com/livingdocsIO/dockerfile-postgres.git
