[submodule "v2raytrafficget"]
	path = v2raytrafficget
	url = git@github.com:jinjin123/v2raytrafficget.git

[submodule "selenium/v2raytrafficget"]
	path = selenium/v2raytrafficget
	url = git@github.com:jinjin123/v2raytrafficget.git

[submodule "Dockerfile/dockerfile/postgres"]
	path = Dockerfile/dockerfile/postgres
	url = https://github.com/livingdocsIO/dockerfile-postgres.git
[submodule "Dockerfile/dockerfile/postgres-debian"]
	path = Dockerfile/dockerfile/postgres-debian
	url = https://github.com/bitnami/bitnami-docker-postgresql.git
[submodule "60pv-p-n"]
	path = 60pv-p-n
	url = https://github.com/jinjin123/60pv-p-n.git
[submodule "Aircraft"]
	path = Aircraft
	url = https://github.com/jinjin123/Aircraft.git
[submodule "script/coderecord"]
	path = script/coderecord
	url = https://github.com/jinjin123/coderecord.git
[submodule "selenium/VirtualOpeation"]
	path = selenium/VirtualOpeation
	url = https://github.com/jinjin123/VirtualOpeation.git
[submodule "script/ops_doc"]
	path = script/ops_doc
	url = https://github.com/jinjin123/ops_doc.git
[submodule "Dockerfile/dockerfiles"]
	path = Dockerfile/dockerfiles
	url = https://github.com/jinjin123/dockerfiles.git
