[mysqld]
max_connections = 2000

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Settings user and group are ignored when systemd is used (fedora >= 15).
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mysqld according to the
# instructions in http://fedoraproject.org/wiki/Systemd
#user=mysql

# Semisynchronous Replication
# http://dev.mysql.com/doc/refman/5.5/en/replication-semisync.html
# uncomment next line on MASTER
;plugin-load=rpl_semi_sync_master=semisync_master.so
# uncomment next line on SLAVE
;plugin-load=rpl_semi_sync_slave=semisync_slave.so

# Others options for Semisynchronous Replication
;rpl_semi_sync_master_enabled=1
;rpl_semi_sync_master_timeout=10
;rpl_semi_sync_slave_enabled=1

# http://dev.mysql.com/doc/refman/5.5/en/performance-schema.html
;performance_schema
skip-name-resolve
#key_buffer = 1024M
max_allowed_packet = 2048M
sort_buffer_size = 100M
read_buffer_size = 1000M
read_rnd_buffer_size = 512M
myisam_sort_buffer_size = 512M
thread_cache_size = 200
query_cache_type = 1
#query_cache_size = 1024M
query_cache_size = 128M
#query_cache_limit = 2048M
query_cache_limit = 4194304
#table_cache = 4096
#key_buffer_size = 10M
long_query_time = 3
thread_stack = 20M

innodb_buffer_pool_size = 14G
#innodb_additional_mem_pool_size = 256M
#innodb_log_file_size = 1000M
innodb_log_buffer_size = 256M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 18000
innodb_open_files=300
innodb_read_io_threads=64
innodb_write_io_threads=64
[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

# Tuning for drupal
connect_timeout = 120
interactive_timeout = 600
wait_timeout = 600

# Basic settings
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
