[mysqld]
datadir=/app/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
max_allowed_packet      = 100M
thread_stack            = 192K
thread_cache_size       = 8
max_connections        	= 1000

default-storage-engine=innodb
init_connect='SET NAMES utf8'
port=3306
secure_file_priv=""
max_connections         = 1000
max_connect_errors      = 1000
join_buffer_size        = 11382893
tmp_table_size          = 6710886
tmpdir                  = /tmp
skip_name_resolve       = 1
explicit_defaults_for_timestamp=true
explicit_defaults_for_timestamp = 1

#####Logs Settings#####
query_cache_limit       = 32M
query_cache_size        = 32M
expire_logs_days        = 3 
max_binlog_size         = 100M

#For performance tuning
long_query_time         = 5 
slow_query_log          = 1
query_cache_size        = 256M
query_cache_limit       = 2M
query_cache_type        = 1

#### inno settings ####
innodb_buffer_pool_size = 8G
innodb_log_buffer_size  = 32M
#innodb_log_file_size    = 512M
innodb_lru_scan_depth = 2000
innodb_lock_wait_timeout = 5
innodb_io_capacity = 4000
innodb_io_capacity_max = 8000
innodb_flush_method = O_DIRECT
innodb_file_format = Barracuda
innodb_file_format_max = Barracuda
innodb_flush_neighbors = 1
innodb_log_file_size = 2G
innodb_log_buffer_size = 10777216
innodb_purge_threads = 4
innodb_large_prefix = 1
innodb_thread_concurrency = 64
innodb_print_all_deadlocks = 1
innodb_strict_mode = 1
innodb_sort_buffer_size = 67108864
#####Logs Settings#####
query_cache_limit       = 32M
query_cache_size        = 32M
max_binlog_size         = 100M
server-id=114

###replication###
binlog-do-db=datacache
binlog-do-db=oc
binlog-do-db=erp
binlog-do-db=de
binlog-do-db=crm
binlog-ignore-db=mysql
binlog-ignore-db=information_schema
binlog-ignore-db=performance_schema
binlog-ignore-db=marketing
binlog-ignore-db=payment
replicate-do-db=datacache
replicate-do-db=oc
replicate-do-db=crm
replicate-do-db=erp
replicate-do-db=de
replicate-wild-do-table=datacache.%
#replicate-wild-do-table=oc.%
#replicate-wild-do-table=crm.%
#replicate-wild-do-table=de.%
#replicate-wild-do-table=erp.%
replicate-wild-do-table=oc.order_complain
replicate-wild-do-table=oc.order_detail
replicate-wild-do-table=oc.order_discount
replicate-wild-do-table=oc.order_master
replicate-wild-do-table=oc.order_meal_detail
replicate-wild-do-table=oc.order_address
replicate-wild-do-table=oc.order_marketing_costs
replicate-wild-do-table=erp.eck_cash_manage
replicate-wild-do-table=erp.taxonomy_term_data
replicate-wild-do-table=erp.hr_%
replicate-wild-do-table=erp.field_data_field_wagestarget
replicate-wild-do-table=erp.field_data_field_tcpmh
replicate-wild-do-table=erp.field_data_field_electricitytarget
replicate-wild-do-table=erp.field_data_field_discrepancyratetarget
replicate-wild-do-table=erp.field_data_field_discardedtarget
replicate-wild-do-table=erp.field_data_field_dietarygoal
replicate-wild-do-table=erp.field_data_field_cashcommentstarget
replicate-wild-do-table=erp.field_data_field_budgets
replicate-wild-do-table=erp.field_data_field_avewagelastmonth
replicate-wild-do-table=erp.field_data_field_spec_text
replicate-wild-do-table=erp.field_data_field_receiptnum
replicate-wild-do-table=erp.field_data_field_receiptdate
replicate-wild-do-table=erp.field_data_field_product_type
replicate-wild-do-table=erp.field_data_field_otherincomemethod
replicate-wild-do-table=erp.field_data_field_otherincomedate
replicate-wild-do-table=erp.field_data_field_ordering_unit
replicate-wild-do-table=erp.field_data_field_ordering_inventory_rate
replicate-wild-do-table=erp.field_data_field_monthly
replicate-wild-do-table=erp.field_data_field_inventory_unit
replicate-wild-do-table=erp.field_data_field_invclasscode
replicate-wild-do-table=erp.field_data_field_forecast_tc
replicate-wild-do-table=erp.field_data_field_forecast_s
replicate-wild-do-table=erp.field_data_field_fi_cost_type
replicate-wild-do-table=erp.field_data_field_diff_track
replicate-wild-do-table=erp.field_data_field_depositreceiveddate
replicate-wild-do-table=erp.field_data_field_depositcheque_date
replicate-wild-do-table=erp.field_data_field_depositchequebank
replicate-wild-do-table=erp.field_data_field_depositcheque_account
replicate-wild-do-table=erp.field_data_field_cuy
replicate-wild-do-table=erp.field_data_field_collectionmethod
replicate-wild-do-table=erp.field_data_commerce_price
replicate-wild-do-table=erp.erp_material_%
replicate-wild-do-table=erp.erp_eodp_status
replicate-wild-do-table=erp.erp_eodp_pos_status
replicate-wild-do-table=erp.erp_eodp_pos_records_details
replicate-wild-do-table=erp.erp_eodp_pos_records
replicate-wild-do-table=erp.commerce_product
replicate-wild-do-table=erp.turnover_estimate
replicate-wild-do-table=erp.eck_bundle
replicate-wild-do-table=erp.eck_inventory_misc
replicate-wild-do-table=erp.eck_misc_inventory_config

replicate-wild-do-table=erp.erp_purchase_order
replicate-wild-do-table=erp.erp_purchase_order_line
replicate-wild-do-table=erp.field_data_field_itemname
replicate-wild-do-table=erp.field_data_field_otherincomeitem
replicate-wild-do-table=erp.eck_product_discard
replicate-wild-do-table=erp.field_data_field_depositcustomer
replicate-wild-do-table=erp.catering_stock
replicate-wild-do-table=erp.erp_inventory_order_line
replicate-wild-do-table=erp.erp_inventory_order

replicate-wild-do-table=de.reporting_cache_store
replicate-wild-do-table=de.reporting_cache_store_taxonomy
replicate-wild-do-table=de.field_data_field_store_state
replicate-wild-do-table=de.field_data_field_store_id
replicate-wild-do-table=de.commerce_product
replicate-wild-do-table=de.field_data_field_product_catetory_basic
replicate-wild-do-table=de.taxonomy_term_data

replicate-wild-do-table=crm.field_data_field_deposit_no
replicate-wild-do-table=crm.field_data_field_deposit_store_id
replicate-wild-do-table=crm.field_data_field_pay_status
replicate-wild-do-table=crm.field_data_field_deposit_status
replicate-wild-do-table=crm.field_data_field_deposit_amount
replicate-wild-do-table=crm.eck_record
replicate-wild-do-table=crm.field_data_field_deposit_type
replicate-wild-do-table=crm.field_data_field_deposit_cancel_no
replicate-wild-do-table=crm.field_data_field_deposit_card_no
replicate-wild-do-table=crm.field_data_field_deposit_channel
replicate-wild-do-table=crm.field_data_field_deposit_cancel_store_id

replicate-wild-do-table=de.reporting_cache_product
replicate-ignore-db=marketing
replicate-ignore-db=payment
replicate-ignore-db=mysql
replicate-ignore-db=information_schema
replicate-ignore-db=performance_schema
slave-skip-errors=1032,1062,1051

innodb_flush_log_at_trx_commit=2
log-bin=ysql-bin
log-slave-updates
sync_binlog=1
auto_increment_increment=2
auto_increment_offset=1

##worker
relay_log_info_repository=table
master_info_repository=table
#relay_log_recovery=ON
##more worker to replica if use GTID mode
sql_mode="ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
slave-parallel-type=LOGICAL_CLOCK
slave-parallel-workers=8
slave_pending_jobs_size_max=200000000

[mysqladmin]
user=zabbix
password=1qaz@WSX
host=127.0.0.1
